version: "3.7"
services:
  php-fpm:
    build:
      context: ./docker/php
    volumes:
      - "./:/var/www"


  # for phpunit test from PHPStorm
  php-cli:
    build:
      context: ./docker/php-cli


  nginx:
    build:
      context: ./docker/nginx
    volumes:
      - ./:/var/www
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/sites/:/etc/nginx/sites-available
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d
    depends_on:
      - php-fpm
      - mysql
    ports:
      - "8080:80"
      - "443:443"

  mysql:
    image: mysql:latest
    container_name: mysql
    restart: always
    environment:
      - MYSQL_DATABASE=docker
      - MYSQL_USER=docker
      - MYSQL_PASSWORD=123
      - MYSQL_ROOT_PASSWORD=123
    command: mysqld --innodb-flush-method=littlesync --innodb-use-native-aio=OFF --log_bin=ON
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
     - PMA_ARBITRARY=1
    restart: always
    ports:
     - 8090:80
    volumes:
     - /sessions

  redis:
    image: redis:alpine
    command: ["redis-server", "--appendonly", "yes"]
    ports:
     - "6379:6379"

  composer:
    image: composer:latest
    volumes:
      - ./:/var/www
    working_dir: /var/www
    command: composer install

  node:
    image: node:latest
    volumes:
      - ./:/var/www
    working_dir: /var/www
    command: npm install
